IO_LOC "sw1"       88; IO_PORT "sw1"     PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sw2"       87; IO_PORT "sw2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sys_clk"    4; IO_PORT "sys_clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "uart_rx"   70; IO_PORT "uart_rx" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "uart_tx"   69; IO_PORT "uart_tx" PULL_MODE=UP IO_TYPE=LVCMOS33;

//IO_LOC  "led[5]" 20; IO_PORT "led[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[4]" 19; IO_PORT "led[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[3]" 18; IO_PORT "led[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[2]" 17; IO_PORT "led[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[1]" 16; IO_PORT "led[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[0]" 15; IO_PORT "led[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "ws2812" 79; IO_PORT "ws2812" DRIVE=8 IO_TYPE=LVCMOS33; // RGB LED

IO_LOC  "DBG"     73; IO_PORT "DBG" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "RW_n"    74; IO_PORT "RW_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "RESET_n" 75; IO_PORT "RESET_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[0]"    85; IO_PORT "A[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[1]"    77; IO_PORT "A[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[2]"    15; IO_PORT "A[2]" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[0]
IO_LOC  "A[3]"    16; IO_PORT "A[3]" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[1]
IO_LOC  "A[4]"    27; IO_PORT "A[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[5]"    28; IO_PORT "A[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[6]"    25; IO_PORT "A[6]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[7]"    26; IO_PORT "A[7]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[8]"    29; IO_PORT "A[8]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[9]"    30; IO_PORT "A[9]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[10]"   31; IO_PORT "A[10]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "HALT_n"  17; IO_PORT "HALT_n" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[2]
IO_LOC  "NMI_n"   20; IO_PORT "NMI_n" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[5]
IO_LOC  "IRQ_n"   19; IO_PORT "IRQ_n" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[4]
IO_LOC  "FIRQ_n"  18; IO_PORT "FIRQ_n" PULL_MODE=UP IO_TYPE=LVCMOS33; // LED[3]

IO_LOC  "CLK"     76; IO_PORT "CLK" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "E"       80; IO_PORT "E" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[0]"    42; IO_PORT "D[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[1]"    41; IO_PORT "D[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[2]"    56; IO_PORT "D[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[3]"    54; IO_PORT "D[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[4]"    51; IO_PORT "D[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[5]"    48; IO_PORT "D[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[6]"    55; IO_PORT "D[6]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "D[7]"    49; IO_PORT "D[7]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[15]"   86; IO_PORT "A[15]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "LED_RGB" 79; IO_PORT "LED_RGB" DRIVE=8 IO_TYPE=LVCMOS33; // RGB LED
IO_LOC  "A[14]"   72; IO_PORT "A[14]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[13]"   71; IO_PORT "A[13]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[11]"   53; IO_PORT "A[11]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "A[12]"   52; IO_PORT "A[12]" PULL_MODE=UP IO_TYPE=LVCMOS33;

